# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/

# macOS
.DS_Store

# Dependencies
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Provisioning
*.mobileprovision

# Environment
.env
